{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Surprisr</title>
	
	<meta property="og:image" content="http://www.surprisr.co/static/Surprisrlogonew.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="834">
    <meta property="og:image:height" content="759">
    <meta property="og:url" content="http://www.surprisr.co/" />
    <meta property="og:title" content="Surprisr" />
    <meta property="og:description" content="You suck at giving gifts. We can help." />
	{% comment %}
		<link rel="shortcut icon" href={% static "conversion/templates/images/favicon.ico" %} type="image/x-icon">
	{% endcomment %}
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
	<link href={% static "conversion/templates/css/style.css" %} rel="stylesheet"/>  
	<link href={% static "conversion/templates/css/colors/style-color-06.css" %} rel="stylesheet"/>    
	<link rel="stylesheet" href={% static "conversion/templates/css/simple-line-icons.css" %}>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
	{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
	  {% include "ga.html" %}
	{% endif %}
	{% block head %}
	{% endblock %}

</head> 
<body>


{% block body %}
{% endblock %}
</div>


<div class="clearfix"></div> 

<div id="footer">

	<p> 
		{% comment %}
			<a href="#"><span class="glyph-item mega icon-social-youtube" aria-hidden="true" ></span></a>
			<a href="#"><span class="glyph-item mega icon-social-tumblr" aria-hidden="true" ></span></a>
			<a href="#"><span class="glyph-item mega icon-social-dropbox" aria-hidden="true" ></span></a>
		<a href="#"><span class="glyph-item mega icon-social-dribbble" aria-hidden="true" ></span></a>		
		<a href="https://www.facebook.com/pages/Surprisrco/879845972043137"><span class="glyph-item mega icon-social-facebook" aria-hidden="true" ></span></a>
		{% endcomment %}
		<a href="https://twitter.com/SurprisrCo"><span class="glyph-item mega icon-social-twitter" aria-hidden="true" ></span></a>
		
		
	</p>
   	
	Copyright &copy; 2014
	
	<div class="clearfix"></div>

</div>

<!--[if lte IE 7]><script src={% static "conversion/templates/js/icons-lte-ie7.js" %}></script><![endif]-->
<script src={% static "conversion/templates/js/jquery.min.js" %}></script>
<script src={% static "conversion/templates/js/respond.min.js" %}></script>
<script src={% static "conversion/templates/js/scripts.js" %}></script>
<script>
	$('#scroll1').click(function () {	
		$('html, body').animate({ scrollTop: $("#steps").offset().top}, 1000);
	});
</script>	 	        		
</body>
</html>
