{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>

 
 <form action="" method="post">
 {% csrf_token %}
 {{ form.non_field_errors }}
	 <table>
	   {% for field in form %}
	   <tr>
	     <th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
	     <td>{{ field.errors }}{{ field }}
	       {% if field.help_text %}
	       <p class="help_text">{{ field.help_text }}</p>
	       {% endif %}
	     </td>
	   </tr>
	   {% endfor %}
   		<tr><th></th><td><input type="submit" value="Submit"></td></tr>
 	</table>
</form>
  

</body>
</html>
