{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}




{% block body %}
	<div id="wrapper" class="wrapper-page wrapper-flexi">

	<!-- Start Header -->
	<div id="header">
	
		<div class="container">
			<div class="row">
				<div class="span12">
				
					<h1>
						<a href="{% url 'splash' %}">
						Surprisr
						{% comment %}
							<img src={% static "conversion/templates/images/logo.png" %} alt="Convert" />
						{% endcomment %}
						</a>
					</h1>
					
					{% comment %}
					<h2 class="menulink"><a href="#">Menu</a></h2>
					
					<!-- Start Menu -->
					<div id="menu">
						<ul>  
							<li><a href="../index.html">Home</a></li>  
							<li><a href="page.html">About</a></li> 
							<li><a href="page.html">Blog</a></li> 
							<li><a href="page.html">Pricing</a></li> 							
							<li class="current"><a href="page.html">Download App</a></li> 
						</ul> 
					</div> 
					<!-- End Menu -->
					{% endcomment %}
				</div>
				<div class="clearfix"></div>
			</div>
			
		</div>
	
	</div>
	<!-- End Header -->

	

		<div class="container">
				 
            <div class="row">
	        	
	        	<div class="span12">
	        	
	        		<div class="inner">
	        		
	        			<div class="hero">
	        		
	        			<h1>We'll be in touch</h1>
	        			
	        			
	        			</div>
	        			
	        		</div>
	        		
	        	</div>
	        	
	        </div>
	        
	       </div>
	
	<div class="clearfix"></div> 	
	        				        	
	
	
</div>

<div class="strip" id="content">

	<div class="container">
			 
        <div class="row">
	    	
	    	<div class="span12">
	    	
	        	<div class="inner">
	        	
	        		<p>Don't worry, we'll never spam you.</p>
					
					{% comment %}
					<h1>Proin in vehicula vinar nunc.</h1>
					<h2>Phasellus quis diam ut  eu nec massa.</h2>
					<h3>Donec dapibus vitae mi porta vehicula.</h3>
					<h4>Nunc luctus massa non consectetur tincidunt.</h4>
					<h5>Nam gravida elit eu nibh blandit consequat.</h5>
					<h6>Nam ullamcorper interdum euismod.</h6>
					{% endcomment %}
		
		        </div>
	    	
	    	</div>  
	    	{% comment %}
	    	<div class="span4">
	    	
	        	<div class="inner" id="sidebar">
	        	
	        		<ul>
	        		
	        			<li>
		        			<h3><span class="glyph-item icon-screen-smartphone" aria-hidden="true" ></span>Download our app!</h3>
		        			<p>Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis. </p>
		        		</li>
		        	 	<li>
				        	<h3><span class="glyph-item icon-screen-desktop" aria-hidden="true" ></span> Responsive</h3>	
				        	<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
				        </li> 
				        <li>
				        	<h3><span class="glyph-item  icon-pencil" aria-hidden="true" ></span> Signup</h3>	
							<form method="post" action="#" name="example"> 
								
								<div class="form-row">							 
									<input id="user_name" placeholder="Your name" class="text login_input" type="text" name="user_name" required />
									<div class="clearfix"></div>
								</div>
								
								<div class="form-row">			 
									<input id="user_email" type="email" placeholder="Your email" class="text login_input" name="user_email" required />
									<div class="clearfix"></div>
								</div>  
								
								<div class="form-row">							 
									<textarea placeholder="Your message"></textarea>
									<div class="clearfix"></div>
								</div>
								    								
								<div class="form-row">					
									<input type="submit" name="register" value="Sign up now!" class="btn btn-wide" data-loading-text="Loading..." />
									<div class="clearfix"></div>
								</div>  
								
							</form>
						</li>				        
		        	</ul>	
		        </div>
	    	
	    	</div> 
	    	{% endcomment %}
	    	<div class="clearfix"></div>
	    	        	
	    </div>

	</div>

</div> 

{% endblock %}
