{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<h1 class="homepage-title">Unexpected Gifts<br>At Unexpected Times</h1>

<div class="divider"></div>

<div class="countdown-container twelve columns"></div>


{% endblock %}

{% block form %}
        <div class="subscribe" id="subscribe">
            <div class="row">
                <div class="twelve columns">
                    
                    <h1 class="page-title">SUBSCRIBE TODAY</h1>
                    <div class="divider"></div>
                    <p class="page-content"> 
                            "The key to a woman's heart is an unexpected gift at an unexpected time." – Sean Connery</br></br>
                            Our team curates the perfect rotation of modest but meaningful gifts for your</br>lady and sends you one each month – flowers, jewelry, sweets and more.</br></br>  
                            Being busy doesn’t mean you can’t be thoughtful. 
                            We help you show her just how special she is.
                    </p>
                        
                    <div class="subscription-form">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="subscription-form-email">
                              
                                {% for error in sub_form.non_field_errors %}
                                    {{error}}</p>
                                {% endfor %}
                                
                                {% if sub_form.email.errors %}
                                    {{ sub_form.email.errors }}</p>
                                {% endif %}
                                {{ sub_form.email}}
                                
                                {% comment %}
                                <input type="text" id="email" class="email hide-for-small" name="email" placeholder="enter your email address here and click subscribe"/>
                                <input type="text" id="email" class="email show-for-small" name="email" placeholder="enter your email address"/>
                                {% endcomment %}
                                
                                <input type="hidden" name="type" value="Subscribe">

                            </div>
                            <input type="submit" value="SUBSCRIBE" class="submit-button" name="submit" id="submitButton" title="Click here to submit your message!" />
                        </form>
                    </div>
                </div>
            </div>
        </div>    
        {% endblock %}

{% block slider-images %}
    {image : "{% static '1flower.jpg' %}", url : ''},
    {image : "{% static '2flower.jpg' %}", url : ''},
{% endblock %}


{% block birds %}
        <div class="twitter" id="twitter">
            <div class="twitter-inner">
                <h1 class="homepage-title">UNEXPECTED GIFTS<br>HAVE UNEXPECTED BENEFITS</h1>
                <div class="tweets"></div>
            </div>
        </div>
{% endblock %}


{% block contact %}
<p class="page-content">Have questions or suggestions?</p>

<div class="subscription-form">
    <form method="post" action="">
        {% csrf_token %}
        <div class="subscription-form-email">
          
            {% for error in con_form.non_field_errors %}
                {{error}}</p>
            {% endfor %}
            
            {% if con_form.email.errors %}
                {{ con_form.email.errors }}</p>
            {% endif %}
            {{ con_form.email }}
            
            {% if con_form.message.errors %}
                {{ con_form.message.errors }}</p>
            {% endif %}
            {{ con_form.message}}

            <input type="hidden" name="type" value="Contact">
        </div>
        <input type="submit" value="SUBMIT" class="submit-button" name="submit" id="submitButton" title="Click here to submit your message!" />
    </form>
</div>
{% endblock %}
